.Skills{
    padding:5em 3em;
    background-color: var(--mint-cream);
}

.Skills-container{
    margin: 0 auto;
    padding:0 20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
